.list-container {
  padding: 1rem 0 0 1rem;

  thead {
    background-color: $color1;
  }

  th,
  td {
    padding: 1rem;
  }

  a {
    color: $primary-palette;
  }
}

.fm-thumbnail {
  width: 50px;
}

// hack ng-material to make it scrollable
md-tab-content {
  &.md-no-scroll {
    overflow-x: scroll;
  }
}
