<div class="list-container" layout="row">
  <md-input-container class="md-block" layout="row" flex="10" flex-xs="30">
    <label>Filter By</label>
    <md-select ng-model="vm.filterField">
      <md-option ng-repeat="s in vm.headers" value="{{s.field}}">
        {{s.title | fmHeader}}
      </md-option>
    </md-select>
  </md-input-container>

  <md-input-container md-no-float class="md-block" flex="30" flex-xs="70">
    <input ng-model="vm.tableParams.filter()[vm.filterField]"
      placeholder="Search Keyword">
  </md-input-container>
</div>


<div class="list-container" layout="column">
  <table ng-table-dynamic="vm.tableParams with vm.headers">
    <tr ng-repeat="row in $data track by row.id">
      <td ng-repeat="col in $columns">
        <div ng-if="col.field === 'fake'">
          <md-checkbox class="green" ng-model="row.enabled">
          </md-checkbox>
        </div>
        <div ng-if="col.field !== 'fake'" ng-bind-html="row._data[col.field] | fmLink">
        </div>
      </td>
    </tr>
  </table>
</div>
