<md-content layout="row" layout-xs="column">
  <md-button class="md-raised md-primary"
    ng-show="vm.hideSetting"
    ng-click="vm.hideSetting = !vm.hideSetting">
    Show Setting
  </md-button>
</md-content>

<md-content layout="row" layout-xs="column" ng-hide="vm.hideSetting">
  <md-input-container class="md-block" layout="row" flex>
    <label>Latitude</label>
    <md-select ng-model="vm.latitude">
      <md-option ng-repeat="s in vm.headers" value="{{s}}">
        {{s | fmHeader}}
      </md-option>
    </md-select>
  </md-input-container>

  <md-input-container class="md-block" layout="row" flex>
    <label>Longitude</label>
    <md-select ng-model="vm.longitude">
      <md-option ng-repeat="s in vm.headers" value="{{s}}">
        {{s | fmHeader}}
      </md-option>
    </md-select>
  </md-input-container>

  <md-input-container class="md-block" layout="row" flex>
    <label>Label</label>
    <md-select ng-model="vm.label">
      <md-option ng-repeat="s in vm.headers" value="{{s}}">
        {{s | fmHeader}}
      </md-option>
    </md-select>
  </md-input-container>

  <md-button class="md-raised md-primary" ng-click="vm.submit()"
             ng-disabled="!vm.latitude || !vm.longitude || !vm.label">
    Submit
  </md-button>
</md-content>

<ui-gmap-google-map center="vm.map.center"
                    zoom="vm.map.zoom"
                    dragging="vm.map.dragging"
                    draggable="true"
                    control="map.control">
  <ui-gmap-marker ng-repeat="f in vm.founders"
                  coords="f.coords" options="f.options" idKey="f.id">
    <ui-gmap-window ng-cloak>
      <div>
        <p>{{f.options.title}}</p>
      </div>
    </ui-gmap-window>
  </ui-gmap-marker>
</ui-gmap-google-map>
