<md-content layout="row" layout-xs="column">
  <md-input-container class="md-block" layout="row" flex>
    <label>Latitude</label>
    <md-select ng-model="vm.latitude">
      <md-option ng-repeat="s in vm.headers" value="{{s}}">
        {{s | fmHeader}}
      </md-option>
    </md-select>
  </md-input-container>

  <md-input-container class="md-block" layout="row" flex>
    <label>Longitude</label>
    <md-select ng-model="vm.longitude">
      <md-option ng-repeat="s in vm.headers" value="{{s}}">
        {{s | fmHeader}}
      </md-option>
    </md-select>
  </md-input-container>

  <md-input-container class="md-block" layout="row" flex>
    <label>Label</label>
    <md-select ng-model="vm.label">
      <md-option ng-repeat="s in vm.headers" value="{{s}}">
        {{s | fmHeader}}
      </md-option>
    </md-select>
  </md-input-container>
</md-content>

<md-content flex-gt-sm="75" layout="row">


  <md-button class="md-raised md-primary" ng-click="vm.submit()"
             ng-disabled="!vm.latitude || !vm.longitude || !vm.label">
    Submit
  </md-button>
</md-content>
